{%  extends 'account/main.html' %}

{% block content %}

		<br>

		<div class="row">
			<div class="col-md">
				<div class="card card-body">
					<h5>Orders
					</h5>
				</div>
				
				<div class="card card-body">
			
					<form method="get">
						{{myfilter.form}}
		
					<button class="btn btn-primary" type="submit">Search</button>
					  </form>
		
			
				</div>

				<div class="card card-body">
					<table class="table">
						<tr>
							<th>Customer</th>
							<th>Product</th>
							<th>Amount</th>
							<th>Price</th>
							<th>Data Ordered</th>
							<th>Payment status</th>
							<th>Delivery status</th>
							<th></th>
							<th></th>
						</tr>

						{% for object,total_price in orders %}
							<tr>
								<td>{{object.customer}}</td>
								<td>{{object.product}}</td>
								<td>{{object.amount}}</td>
								<td>Rp {{total_price}}</td>
								<td>{{object.date_ordered | date:"F d, Y"}}</td>
								<td>{{object.payment_status}}</td>
								<td>{{object.status}}</td>
								
							{%if object.status == 'Pending'%}
								<td><a class="btn btn-sm btn-outline-info" href="{%url 'manage:update-order' object.customer.id object.id%}">Update</a></td>
								<td><a class="btn btn-sm btn-outline-danger" href="{%url 'manage:delete-order-list' object.id%}">Cancel</a></td>
							{%else%}
								<td></td>
								<td><a class="btn btn-sm btn-outline-danger" href="{%url 'manage:delete-order-list' object.id%}">Delete</a></td>
							{%endif%}
							</tr>
						{% endfor %}
						
					</table>
				</div>
			</div>
			
		</div>

{% endblock content %}